

body {

}

#body-width {
	width: 85%;
	margin: auto;
}



div.panel {
  margin-bottom: 15px;
}

div.panel .panel-body p:last-child {
  margin-bottom: 0;
}

mark {
  padding: 0;
}

.panel-default > .panel-heading-custom {
	background: #ff0000; 
	color: #fff; 
}



.panel-default > .panel-body-custom {
	
	
	padding-right: 0;
	background: #AFA; 

	color: #000;/* FONT  */
}

.panel-default > .context {
	background: #FFF;
	overflow-y: scroll;
	height:400px;

}


.panel-default > .footer-custom {
	background: #1F4; 
	color: #000;/* FONT  */
}

button {
	width:100%;
	margin-top: 10px;
}



#finishButton {
	background:#1ff;
	margin-bottom: 10px;
}
