
h1 {
	font-size: 2em;
}

mark{
    background: yellow;
    color: black;
}


#body-width {
	width: 85%;
	margin: auto;
}



div.panel {
  margin-bottom: 15px;
  color: #000;
}

div.panel .panel-body p:last-child {
  margin-bottom: 0;
  color: #000;
}

mark {
  padding: 0;
}

.panel-default > .panel-heading-custom {
	background: #2a4380; 
	color: #fff; 
}



.panel-default > .panel-body-custom {
	
	
	padding-right: 0;
	background: #6c8ad5; 

	color: black;/* FONT  */
}

.panel-default > .context {
	background: #F5F5F5;
	overflow-y: scroll;
	height:400px;

}


.panel-default > .footer-custom {
	background: #6c8ad5; 
	color: black;/* FONT  */
}

button {
	width:100%;
	margin-top: 10px;
}



#finishButton {
	background:#1ff;
	margin-bottom: 10px;
}
